.container {
  height: 80vh;
  width: 100vw;
  padding: 20px 0px;
  background-color: #414141;
  display: flex;
  justify-content: center;
}

.space {
  width: 50%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.mainPage {
  width: 80%;
  height: 100%;
  color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  /* background-color: lightblue; */
}

.headerContainer {
  align-self: flex-start;
  border-left: 5px solid #ca3e47;
  margin: 1rem 0px 2.5rem;
}

.header {
  font-size: 35px;
  transition: all 0.8s ease-in-out;
}

.span {
  color: #ca3e47;
}

.noChanges {
  transform: translateX(-100%);
}

.changesX {
  transform: translateX(0px);
}

.description {
  margin: 1rem 0;
  line-height: 1.5;
  font-size: 1.3rem;
  text-align: left;
}

.description2 {
  width: 50%;
  list-style: 2;
  font-size: 1.3rem;
  margin-top: 10px;
  word-spacing: 3px;
}

.textContainer {
  width: 60%;
  align-self: center;
  transition: 1s ease all;
  transform: translateY(-50px);
  opacity: 0.5;
}

.changes {
  opacity: 1;
  transform: translateY(0px);
}
