.footer {
  display: flex;
  border-top: 1px solid #eee;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}

.footer div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email {
  user-select: text;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 200px) {
  .footer {
    flex-direction: column;
    height: auto;
  }
}
